@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 168 67% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 170 56% 66%;
    --primary-foreground: 170 80% 15%;
    --secondary: 170 50% 90%;
    --secondary-foreground: 170 80% 15%;
    --muted: 170 50% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 93 56% 61%;
    --accent-foreground: 93 80% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 50% 88%;
    --input: 170 50% 88%;
    --ring: 170 56% 66%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 204 10% 10%;
    --foreground: 0 0% 98%;
    --card: 204 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 204 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 170 56% 66%;
    --primary-foreground: 170 80% 15%;
    --secondary: 204 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 204 10% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 93 56% 61%;
    --accent-foreground: 93 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 10% 18%;
    --input: 204 10% 18%;
    --ring: 170 56% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
